# ignore everything by default except directories and .gitignores
#  note: it wouldn't look inside of any directory otherwise
#  note: you can debug ignores using git check-ignore -v testfile.json
*
!*/
!/.gitignore
# ignore all dot-directories by default
.*/

!*.md
!*.nix
!*.py
!/.envrc
!/flake.lock
!poetry.lock
!pyproject.toml