# ignore everything by default
*
# do not ignore directories (still ignores their content)
!*/
# still ignore directiories with a leading dot
.*/
# do not ignore .gitignore files
!.gitignore

# {% if cookiecutter.has_jetbrains  == "y" %}
# shareable Jetbrains files
!*.iml
!.idea/misc.xml
!.idea/modules.xml
!.idea/runConfigurations/*.xml
!.idea/vcs.xml
!.idea/watcherTasks.xml
# {% endif %}

!*.nix
!/.envrc
!/flake.lock

!*.md
!*.py
!poetry.lock
!pyproject.toml